.navbar .navbar-nav .nav-item{
    color:white;
   
}
.navbar .navbar-nav .nav-item:hover{
    color:black;
}
#section-form{
    height: 900px;
    background-image: url('pexels-james-wheeler-417074.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
form{
 
    text-align: center;
    padding: 8%;
    margin-top: 10%;
   background-color: rgba(0,0,0,0.5);
 
 margin: 10% 8% 0% 8%;
 max-width: 100%;

}
#uname,#pswd{
    padding: 2%;
}
#login{
      width: 150px;
    background-color: green;
    color: whitesmoke;
    border: none;
    padding: 5px;
    border-radius: 25px;
    font-weight: bolder;
}
#login:hover{
    background-color: blue;
}
#reg{
    width: 125px;
    background-color: rgb(165, 65, 7);
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 25px;
    font-weight: bolder;
}
#reg:hover{
    background-color: rgb(13, 175, 175);
}


